body{
  margin: 0;
  padding: 0;
}

.slika{
  background-image: url(slike/slika1.jpg);
  position:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.nav{
  background-color: rgba(0, 0, 0, .3);
  margin: auto;
  width: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.nav ul li{
  list-style: none;
  display: inline;
}
.nav ul li a{
  overflow: hidden;
  text-decoration: none;
  color: black;
  padding: 30px;
  text-transform:uppercase;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 5px 5px 3px darkgray;
}

.nav ul li a:hover{
  color: rgb(36, 96, 114);
  transition: 0.4s;
  cursor: pointer;
}
.text{
  position: absolute;
  top: 25px;
  right: 20%;
  display: block;
  margin-bottom: 100px;

  
}
.naslov {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.naslov h1{
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 10px 10px 15px rgb(44, 79, 112);
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  
}
.uvod p{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(26, 48, 75);
  font-weight: bold;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}
@media  screen and (min-width:300px) and (max-width: 420px) {
  .slika{
    background-position: left;
  }
  .nav{
    width: 100%;
  }

  .nav ul li a{
    float: none;
    width: 100%;
    display: block;
    
  }
  .text{
    width: 90%;
  }
  .naslov h1{
    text-align: justify;
    font-size: 30px;
    padding-bottom: 10px;
    margin-left: 30%;
    color: rgb(7, 7, 7);
    margin-top: 300px;
    margin-bottom: 20%;
  }
  .uvod p{
   text-align: center;
   font-size: 25px;
   margin-left: 60px;
   
  
   
  }
}
@media  screen and (min-width:421px) and (max-width: 990px) {
  .slika{
    background-position: left;
  }
  .nav{
    width: 100%;
  }
  .nav ul li a{
    float: none;
    width: 100%;
    display: block;
    
  }
  .text{
    width:90%;
  }
  .naslov{
    width: 100%;
    margin-left: 20%;
  }
  .naslov h1{
    text-align: justify;
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(7, 7, 7);
    margin-top: 300px;
  }
  .uvod{
   width: 60%;
   margin-left: 30%;
  }
  .uvod p{
   text-align: center;
   font-size: 25px;
   margin-left: 60px;
   background-color: rgba(132, 208, 233, 0.548);
   color: white;
   text-shadow:  0 0 6px #04046b;

  
   
  }
}
  
.slika1{
  background-image: url(slike/slikaa2.jpg);
  position:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;

}
.naslov2 h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 10px 10px 15px rgba(76, 123, 167, 0.596);
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;

  animation-name: puls;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
@keyframes puls {
  50% {
    transform: scale(1.5);
  }
  0%{
    transform: scale(0.5);
  }
}

.uvod1{
  width: 1000px;
  margin-left: 170px;
  background-color: rgba(192, 185, 185, 0.507);
  font-size: 19px;
  font-weight: bold;
  color: rgb(8, 12, 19);
  letter-spacing: 1px;
  text-align: center;

}
.slika2 {
  background-image: url(slike/poz2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1300px;
}
.namestaj{
  float: left;
  padding: 4px;
  position:relative;
  width: 25%;
  background-repeat: no-repeat;
  margin-top: 130px;
  display: inline;
  left: 4%;
  justify-content: space-between;
}


.namestaj h1{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(54, 51, 51);
  text-align: justify;
  left: 4%;
}
.namestaj p {
  color:darkred;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid darkred;
  left: 4%;
}
.namestaj h1:hover{
  color: rgba(128, 4, 4, 0.74);
  transition: 0.4s;
  cursor: pointer;
}

.namestaj img:hover{
  opacity: 0.7;
  cursor: pointer;
}
.slika3{
  background-image: url(slike/poz4.jpg);
  position: fixed;
  background-position-y: -60px;
  width: 100%;
  height: 800px;
}
.naslov3 h1{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(235, 222, 222);
  text-align: center;
  left: 4%;
  text-shadow: 10px 10px 15px rgba(10, 10, 10, 0.788);

}
.podaci{
  border: 2px solid black;
  width: 30%;
  margin-left: 30px;
  padding: 5px 5px 5px 5px;
  font-weight: bolder;
  font-size: 18px;
  text-shadow:10px 10px 15px rgba(236, 231, 231, 0.712);
  
}
.podaci a{
  color:lightblue;
}
.podaci a:hover{
  color:rgba(24, 18, 117, 0.801);
  opacity: 0.7;
  cursor: pointer;
  
}
.mininaslov h1{
  text-align: left;
  font-size: 20px;
  color:white;
  text-shadow: 10px 10px 15px black;
  display: flex;
  position: absolute;
  top:170px;
  right: 16px;
  letter-spacing: 1px;
}
.forma {
  width: 320px;
  height: 320px;
  display: flex;
  position: absolute;
  top:232px;
  right: 210px;
  border: 2px solid black;
  padding: 15px;
}
.polje{
  width: 250px;
  height:30px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.forma label{
  font-size: 18px;
  color:azure;
  text-shadow: black;
  font-weight: bold;
  

}
.dugme{
  border-radius: 50px;
  color:rgb(16, 19, 18);
  margin-top: 5px;
  padding: 5px;
  background-color: silver;
  border:none;
  font-size: 18px;
  transition: 0.4s ease;
}
.dugme:hover{
  border-radius: 25px;
  color:rgb(10, 9, 12);
  background-color: rgb(199, 151, 243);
  border: 4px dotted black;
}
.polje:focus{
  background-color: rgb(226, 124, 226);
}









